body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container__login {
    width: 80%;
    flex-wrap: wrap;
    padding: 1rem;
}

.container__placeholder {
    align-self: center;
    margin-top: 10px;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    
}