:root {
    --roxo--background: #1E265D;
    --roxo--botao: rgba(139, 0, 255, 1);
    --branco: rgba(255, 255, 255, 1);
    --font--principal: 'Lato', sans-serif;


}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--roxo--background);
    font-family: var(--font--principal);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 390px;
    height: 844px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: var(--branco);
}


.container__login {
    width: 80%;
    flex-wrap: wrap;
    padding: 1rem;
}

.container__placeholder {
    align-self: center;
    margin-top: 10px;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px var(--roxo--botao);

}

.container__placeholder:hover {
    background: #f5f5f5;


}

input::placeholder {
    font-size: 20px;

}

input:focus {
    font-size: 20px;
    border: 1px solid var(--roxo--botao);

}



.container__checkbox {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    border-radius: 4;
    color: aliceblue;

}

input[type="checkbox"]:checked {
    width: 24px;
    height: 24px;
    accent-color: var(--roxo--botao);
    box-shadow: 0px 4px 12px rgba(28, 37, 44, 0.05);
    border-radius: 4px;

}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--branco);
    font-size: 14px;
}

.container__recuparar__senha {
    font-size: 14px;
    text-decoration: none;
    margin-left: 46px;
    color: var(--roxo--botao);
}

.botao-entrar {
    padding: 17px 0 17px 0px;
    margin-top: 27px;
    width: 20rem;
    text-transform: uppercase;
    color: var(--branco);
    background: var(--roxo--botao);
    border: none;
    border-radius: 12px;
}

.botao-entrar:hover {
    background: #bf40bf;
    cursor: pointer;

}

.container__quebra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.linha-horizontal {
    border-top: 1px solid rgba(75, 87, 107, 1);
    height: 1px;
    width: 80px;
    margin: auto;

}

.linha-horizontal-texto {
    color: rgba(75, 87, 107, 1);
    ;
}

.traco {
    height: 1px;
    width: 8px;
    background: rgba(75, 87, 107, 1);
    ;
}

.container__redes__sociais {
    display: flex;
    width: 80%;
}

.item__redes__sociais {
    display: flex;
    width: 98px;
    height: 72px;
    background: var(--branco);
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

}

.item__redes__sociais:nth-child(1) {
    margin-left: 0;
}

.item__redes__sociais:nth-child(3) {
    margin-right: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 48%;
}

.texo-footer {
    color: var(--branco);

}

.link-footer {
    color: blueviolet;
    text-decoration: none;
}